<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">

                @foreach (var product in Model)
                {
                    <div class="col-lg-3 item">
                        <div class="categories__item">
                            <img src="@(string.IsNullOrEmpty(product.Img) ? $"theme/img/categories/cat-{1}.jpg" : product.Img)"
                                 alt="@product.Name"
                                 class="product-image">
                            <h5><a href="#">@product.Name <p>@product.Price.ToString("C")</p></a></h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->