@using App.Admin.Models.CategoryViewModels
@model CategoryModel
<h2>Edit Category</h2>

<form asp-controller="Category" asp-action="Edit" asp-route-categoryId="@Model.Id" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Kategori Adı</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Color" class="form-label">Renk</label>
        <input asp-for="Color" class="form-control" />
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="IconCssClass" class="form-label">İkon CSS Sınıfı</label>
        <input asp-for="IconCssClass" class="form-control" />
        <span asp-validation-for="IconCssClass" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="CreatedAt" class="form-label">Oluşturma Tarihi</label>
        <input asp-for="CreatedAt" class="form-control" disabled="disabled" />
        <span asp-validation-for="CreatedAt" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>
</form>
