<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>@ViewData["Title"] - Siliconmade</title>

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="~/theme/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/theme/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/theme/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="~/theme/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="~/theme/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="~/theme/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="~/theme/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="~/theme/css/style.css" type="text/css">
<link rel="stylesheet" href="~/css/site.css" type="text/css">