@{
    var modelStateErrors = ViewData.ModelState.Values.SelectMany(v => v.Errors)
        .Select(e => e.ErrorMessage)
        .ToList();
}
@if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}
@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

@if (modelStateErrors.Count > 0)
{
    <div class="alert alert-danger" role="alert">
        <ul>
            @foreach (var error in modelStateErrors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}