
<!DOCTYPE html>
<html lang="zxx">

<head>
    <partial name="Partials/PageHead.cshtml">   
    @RenderSection("Styles", required: false)
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <partial name="Partials/_Hamburger-Nav-Menu"/>   
    <!-- Humberger End -->
    <!-- Header Section Begin -->
   <partial name="Partials/Header/_Header"/>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <partial name="Partials/_LeftMenu-Search-Bar"/>    
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->
   @RenderBody()
    <!-- Footer Section Begin -->
   <partial name="Partials/Footer/_Footer"/>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <partial name="Partials/PageScripts.cshtml">    
    @RenderSection("Scripts",required:false)


</body>

</html>