<footer class="footer spad">
    <div class="container">
        <div class="row">
            <partial name="Partials/Footer/_footer-location" />
            <partial name="Partials/Footer/_footer-navigation" />
            <partial name="Partials/Footer/_footer-social" />
        </div>
        <partial name="Partials/Footer/_copy-right" />
    </div>
</footer>