<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="footer__about">
        <div class="footer__about__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <ul>
            <li>Address: 60-49 Road 11378 New York</li>
            <li>Phone: +65 11.188.888</li>
            <li>Email: hello@colorlib.com</li>
        </ul>
    </div>
</div>
