<div class="col-lg-4 col-md-12">
    <div class="footer__widget">
        <h6>Join Our Newsletter Now</h6>
        <p>Get E-mail updates about our latest shop and special offers.</p>
        <form action="#">
            <input type="text" placeholder="Enter your mail">
            <button type="submit" class="site-btn">Subscribe</button>
        </form>
        <div class="footer__widget__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
    </div>
</div>